<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body class="grey-bg">

  <%- include('nav.ejs') %> 
  
<!-- <%= JSON.stringify(posts) %> -->
  <div class="white-bg">
    <!-- <% for(let i = 0; i < posts.length; i ++){ %>
      <div class="list-box">
        <h4><%= posts[i].title %></h4>
        <p><%= posts[i].content %></p>
      </div>
    <% } %> -->

    <% posts.forEach((post, i)=>{ %>
        <div class="list-box">
          <a href="/detail/<%= post._id %>">
            <h4><%= post.title %></h4>
            <p><%= post.content %></p>
          </a>
          <a class="btn" href="/edit/<%= post._id %>">수정</a>
          <span class="btn delete" data-id="<%= post._id %>">삭제</span>
        </div>
    <% }) %>
  </div>
<script>
    document.querySelectorAll('.delete').forEach(button => {
      button.addEventListener('click', function(e) {
        
        const id = e.target.dataset.id;

        fetch('/delete/' + id, {
          method: 'DELETE'
        })
      });
    });
  </script>
</body>
</html>